
body {
  background: #ddd;
}

#nerddisco {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(3, 3);
      -ms-transform: translate(-50%, -50%) scale(3, 3);
          transform: translate(-50%, -50%) scale(3, 3);
  border: 1px solid #f00;
  /*width: 100%;*/
}
