.ndSelector {
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out; }
  .ndSelector:after {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: attr(data-name); }
  .ndSelector[data-visible='true'] {
    opacity: 1; }
  .ndSelector[data-visible='false'] {
    opacity: 0; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  font: 1em sans-serif; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex--auto {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto; }

.flex--none {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none; }

.flex--1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flex--2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.flex--3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.flex--4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.meta {
  position: fixed;
  top: .75em;
  left: .75em;
  padding: 0;
  color: #fff;
  width: 600px;
  background: #15171e;
  opacity: .35;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out; }
  .meta:hover {
    opacity: 1; }

h1 {
  font-size: 2em;
  padding: 0;
  margin: 0; }

h2 {
  font-size: 1.25em;
  padding: 0;
  margin: .25em 0 0 0; }

#nerddisco {
  position: relative;
  width: 100%;
  height: 100%; }

.player {
  width: 100%;
  padding: .5em .5em 0 0; }

#soundcloud__player {
  width: 100%;
  -webkit-border-radius: 0;
  border-radius: 0; }

.logo {
  height: 85px; }

audio::-webkit-media-controls-panel {
  background: transparent; }

video {
  display: none;
  visibility: hidden; }

.tracks {
  margin: .25em .25em 0 0;
  padding: 0 0 0 1em;
  display: inline-block;
  float: left; }
  .tracks .track {
    display: block;
    width: 2em;
    height: 2em;
    float: left;
    cursor: pointer;
    background: #000;
    text-align: center;
    padding: 0;
    line-height: 2em;
    margin: 0 .25em 0 0;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out; }
    .tracks .track:hover {
      background: #15171e; }

.buttons {
  margin: .25em 0 0 0;
  padding: 0 0 0 .5em;
  display: inline-block;
  float: left;
  text-transform: uppercase;
  border-left: 1px solid #333; }

.ndSelectorToggle {
  display: inline-block;
  height: 2em;
  cursor: pointer;
  text-align: center;
  padding: 0 .25em;
  line-height: 2em;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
  background: #000; }
  .ndSelectorToggle:hover {
    background: #15171e; }
